@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-azul: #E4EDF2;
    --color-amarillo1: #F2D16D;
    --color-amarillo2: #F2D091;
    --color-amarillo3: #F2D4AE;
    --color-amarillo4: #F2CF8D;
    --color-cafe: #A6796F;
    --color-cafe-claro: #6B4E47;
    --color-marino: #3F5259;
    --font-text: "Poppins", "sans-serif";
  }